.choice-container{
    display: flex;
    
    margin-bottom: 2.5rem;
    width: 50vw;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86,165,235,0.25);
    background-color: white;
    
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,255,0.5);
    transform:translateY(-0.2rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1.5rem 3.5rem;
    background-color: #56a5cb;
    color: white;
}
.choice-text{
    padding: 1.5rem;
    
}

.butt{
    display: flex;
    justify-content: space-around;
    
}
.btn{
    display: flex;
    height:9vh;
    border: none;
    background-color: white;
   
    
    background-color: #56a5cb;
    width: 20vw;
    font-size: 1.8rem;
    color: white;
    justify-content: center;
    align-items: center;
    
    
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,255,0.5);
    transform:translateY(-0.9rem);
    transition: transform 150ms;
    border: none;
}
.correct{
    background-color: green;
}

.hud-prefix{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}
#container{
    display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
